<div>
<h1 class="text-3xl font-bold mb-2">About Us</h1>
<p style="display: block; clear: both;">The information below are from the open data source of Winnipeg</p>
<br>
  <div>
    <h2 class="text-2xl font-bold mb-4">Park and Open Space</h2>
      <p>This dataset has information about all the parks and open spaces around Winnipeg.
      This includes the park name, address, district neighbourhood, electoral ward,
      and the measurement of the park’s area.</p>
        <ul class="list-disc list-inside m-2">Table: park_names
	       <li>park_id, park_name</li>
	        <li>address, location_description</li>
	        <li>linear_park_system, district</li>
	        <li>neighbourhood, electoral_ward</li>
	        <li>cca, area_in_hectares</li>
	        <li>water_in_hectares, land_aread_in_hectares</li>
        </ul>
      <br>
       <h2 class="text-2xl font-bold mb-4">Park Assets</h2>
      <p>This dataset has the asset inventory for the parks such as benches and play structures.</p>
        <ul class="list-disc list-inside m-2">Table: park_assets
	       <li>park_id, park_name</li>
	        <li>address, location_description</li>
	        <li>linear_park_system, district</li>
	        <li>neighbourhood, electoral_ward</li>
	        <li>cca, area_in_hectares</li>
	        <li>water_in_hectares, land_aread_in_hectares</li>
        </ul>
  </div>



<br>
  <%= link_to 'View Park Spaces', park_spaces_path %>
</div>