<h1>About Us</h1>
    <p> The information below are from the open data source of Winnipeg </p>
<h2>Park Spaces Dataset</h2>
<p>-	This dataset has information about all the parks and open spaces around Winnipeg. This includes the park name, address, district neighbourhood, electoral ward, and the measurement of the park’s area.</p>
<ul>Table: park_names
       <li>park_id</li>
	     <li>park_name</li>
       <li>address</li>
       <li>location_description</li>
       <li>linear_park_system</li>
	     <li>district</li>
	     <li>neighbourhood</li>
	     <li>electoral_ward</li>
	     <li>cca</li>
       <li>area_in_hectares</li>
	     <li>water_in_hectares</li>
	     <li>land_aread_in_hectares</li>
  </ul>


<%= link_to 'View Park Spaces', park_spaces_path %>
